
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 开启相对行号
" set relativenumber  

" 开启鼠标
" set mouse=a

" 设置光标所在列高亮
" set cursorcolumn

" indentLine 开启代码对齐线
" let g:indentLine_enabled = 1

" markdown
" let system = system('uname -s')
" if system == "Darwin\n"
"     let g:mkdp_path_to_chrome = "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome"
" else
"     let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
" endif
" nmap <silent> <F7> <Plug>MarkdownPreview
" imap <silent> <F7> <Plug>MarkdownPreview
" nmap <silent> <F8> <Plug>StopMarkdownPreview
" imap <silent> <F8> <Plug>StopMarkdownPreview

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"


" >> 自定义 ======================================================================================
"set mouse=a
"set relativenumber

" 使用箭头键调整窗口大小                                              
nnoremap <C-Up> :resize +2<CR>
nnoremap <C-Down> :resize -2<CR>
nnoremap <C-Left> :vertical resize -2<CR>
nnoremap <C-Right> :vertical resize +2<CR>


nnoremap <silent>dh d0
nnoremap <silent>dl d$


nnoremap <silent><leader>h ^
nnoremap <silent><leader>l $
nnoremap <silent><leader>j :NextBuffer<cr>
nnoremap <silent><leader>k :PreviousBuffer<cr>


nnoremap <silent><leader>/ I//<Esc>
nnoremap <silent><leader>cc I/* <Esc>A */<Esc>hh
nnoremap <silent><leader>cu I<Esc>xxxA<backspace><backspace><backspace><Esc>
nnoremap <silent><leader><leader>p ipublic:<Esc>oprivate:<Esc>opublic:<Esc>oprivate:<Esc>kkk$


" 多行添加 /**/
nnoremap <leader>mc :<C-u>call AddComment()<CR>
    function! AddComment()
        " 获取用户输入的行号范围
        let l:start = input('Start line: ')
        let l:end = input('End line: ')
        " 遍历每一行并添加注释
        execute l:start . ',' . l:end . 's/^/\/\*\ /'
        execute l:start . ',' . l:end . 's/$/\ \*\//'
    endfunction
" 多行删除 /**/
nnoremap <leader>mu :<C-u>call DeleteComment()<CR>
    function! DeleteComment()
        " 获取用户输入的行号范围
        let l:start = input('Start line: ')
        let l:end = input('End line: ')
        " 遍历每一行并添加注释
        execute l:start . ',' . l:end . 's/\/\*\ //g'
        execute l:start . ',' . l:end . 's/\ \*\///g'
    endfunction



inoremap jk <Esc>l
inoremap kj <Esc>l



vnoremap <silent><leader>/ I//<Esc>

